.demicercle{
    z-index: -1;
    position: absolute;
      background:#111110;
      border-radius: 800px 800px 0 0;
      left: calc(50% - 800px);
      bottom: 0;
      width:100%;
      height:800px;
      border:2px solid #111110; 
}
body{
	overflow: hidden;
	background-color: #111110;
}
h1{
    text-align: center;
    color: white;
}

.zoom img{
    margin-left: 75px;
    margin-top: 2%;
    width: 92px;
    height: 92px;
}
.zoom{
    display: flex;
    justify-content: center;
}

.zoom img {
	transition: all 1s ease;
	}
	.zoom img:hover {
	
	transform:scale(1.25);
	}

/*###########################*/
.presentation{
    text-align: center;
	display: flex;
	justify-content: center;
}

.about-p1{
	font-size: 56px;
	color: grey;
}

/*#########################*/


.tableau{
    width: 30%;
}



/*Tableau */

table {
	margin: auto;
	margin-top: 5%;
	  text-align: center;
	  border: medium solid white;
	  border-collapse: collapse;
	  bottom: 25%;
	  left: 25%;
	  width: 75%;
}
  
th {
	  font-family: monospace;
	  width: 33%;
	  padding: 5px;
	  background-color: grey;
}
td {
	  font-family: sans-serif;
	  width: 33%;
	  padding: 5px;
	  text-align: center;
	  background-color: #111110;
  }

  img{
	  height: 52px;
  }

.drapeau{
	width: 35px;
	height: 30px;
}
/************** Hover ****************/

.hovertext {
	position: relative;
	border-bottom: 1px dotted black;
  }
  
  .hovertext:before {
	content: attr(data-hover);
	visibility: hidden;
	opacity: 0;
	width: 140px;
	background-color: #fff;
	color: black;
	text-align: center;
	border-radius: 5px;
	padding: 5px 0;
	transition: opacity 1s ease-in-out;
	position: absolute;
	z-index: 1;
	left: 5%;
	top: 17%;
  }
  
  .hovertext:hover:before {
	opacity: 1;
	visibility: visible;
  }

  @media only screen and (max-width: 800px)  {
.responsiveMenu{
	display: inline-block;
	margin-bottom: 10%;
}

.about-p1{
	display: none;
}
.zoom{
	display: inline-block;
}
  
  }




/*.CompetenceAutre {
	width: 100%;
}
.CompetenceAutre h2 {
	text-align: center;
	color: rgb(14, 14, 14);
	margin-top: 20px;
	font-size: 45px;
}
.titre {
	display: flex;
	justify-content: space-around;
}
.titre h3 {
	color: rgb(14, 14, 14);
	text-align: center;
	margin-top: 2%;
font-size: 26px;  }
  
.langue p {
	color: rgb(14, 14, 14);
	margin-left: 100px;
	font-size: 24px;
}
.langue img {
	transition: all 1s ease;
	}
.langue img:hover {
	transform:scale(1.25);
}

.CompetenceAutre .Outils { 
	display: flex;
	justify-content: center;
}
.CompetenceAutre .Outils h3 { 
	 color: rgb(14, 14, 14);
 }
ul {
	list-style-type: none;
  }
 .conteneurFond {
	 display: flex;
	 justify-content: center;
 }
.fond{
	z-index: -1;
	position: absolute;
	  background:#111110;
	  bottom: -80%;
	  width: 100%;
	  height: 80%;
}
*/