
/*.conteneur{
  z-index: -1;
  position: absolute;
    background:#111110;
    border-radius: 25px;
    bottom: 0;
    left: 10%;
    top: 8%;
    width: 80%;
    height: 90%;
    border:2px solid #111110; 
}

.Exp{
  display: flex;
  justify-content: center;
}
*/
/*
h1 {
    color: white;
    margin-top: 5%;
    margin-left: 20%;
    border:  #747474 solid 2px;
    width: 60%;
    text-align: center;
}
table {
  margin: auto;
  margin-top: 5%;
    text-align: center;
    border: medium solid #747474;
    border-collapse: collapse;
    width: 50%;
    bottom: 25%;
    left: 25%;
    }

th {
    font-family: monospace;
    border: thin solid #747474;
    width: 50%;
    padding: 5px;
    background-color: #cdd1d6;
    background-image: url(sky.jpg);
}
 td {
    font-family: sans-serif;
    border: thin solid #747474;
    width: 50%;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
}
    
caption {
    font-family: sans-serif;
}
    

*/
/***************************************/
/*
.Projet h2, .Projet2 h2, .Projet3 h2{
  text-align: start;
  text-decoration: underline;
  color: grey;
}
.Projet h3, .Projet2 h3, .Projet3 h3{
  text-align: start;
  border: #747474 2px solid;
  width: 140px;
  background-color: grey;
}
.Projet button, .Projet2 button, .Projet3 button{
  margin-right: 80%;
}

.Projet p, .Projet2 p{
  margin-top: 10%;
  text-align: start;
  width: 80%;
}
.Projet img, .Projet2 img, .Projet3 img{
  width: 35%;
  position: absolute;
  top: 5%;
  right: 20%;
}
#button
{
  position:relative;
  border-radius:10px;
  font-family:arial;
  text-decoration:none;
  font-weight:bold;
  color:white;
}

#button:hover
{
  background-color:#EFF1F3;
  color:#D77A61;
}
.Projet-Conteneur{
  z-index: -1;
  position: absolute;
    background:white;
    border-radius: 25px;
    bottom: 0;
    left: 11%;
    top: 10%;
    width: 25%;
    height: 30%;
    border:2px solid white; 
}

.Projet
{
  position:absolute;
  top: 10%;
  left:11%;
}

.Projet2{
  position:absolute;
  top: 10%;
  left:38%;
}
.Projet3{
  position:absolute;
  top: 10%;
  left:64%;
}
.Projet3 p{

  text-align: start;
  width: 80%;
}


.Projet-Conteneur2{
  z-index: -1;
  position: absolute;
    background:white;
    border-radius: 25px;
    bottom: 0;
    left: 38%;
    top: 10%;
    width: 25%;
    height: 30%;
    border:2px solid white; 
}
.Projet-Conteneur3{
  z-index: -1;
  position: absolute;
    background:white;
    border-radius: 25px;
    bottom: 0;
    left: 64%;
    top: 10%;
    width: 25%;
    height: 30%;
    border:2px solid white; 
}
*/
body {
  background-color: #111110;
}

main{
  margin:0px;
  padding:0px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none; 
}

.item-a button{
  margin-bottom: 5%;
}
.container{
  width:150vw;
  height: 100%;
  background-color: #111110;
  display:flex;
  justify-content:center;
  align-items:center;
}
.box{
  width: 346px;
  height:  610px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-between;
  box-sizing: border-box;
  margin:  20px 10px;
  box-shadow: 2px 10px 12px grey;
}
.model{
  height:350px;
  max-height: 100%;
  max-width: 100%;
}

.details{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:300px;
}

.details p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:  bold;
  color: #6a6a74;
  text-align: center;
  margin-top: 20px;
}
.marvel{
  color:#32323e;
  margin-top: 2%;
  font-size: 24px;
  font-weight:  bold;
  letter-spacing: 2px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 .box img{
   width: 300px;
   height: 200px;
 }


/**********************************/


@media only screen and (max-width: 800px)  {
  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after{
    border-bottom: 2px solid white;
  }
  .container{
    width: 100%;
    padding-top:8%;
  }
}