@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
body {
  font-family: 'Open Sans', sans-serif;
  background: #111110;
}
.chronologie{
  z-index: 2;
}


.chronologie ul {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1px 100px;
  color: #fff;
  font-size: 13px;
}
.chronologie ul:before {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 3px dashed grey;
  
}
.chronologie ul li {
  position: relative;
  margin-left: 30px ;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 14px;
  border-radius: 15px;
  width: 250px;
}

.chronologie ul li:not(:first-child) {
  margin-top: 60px;
}
.chronologie ul li > span {
  width: 3px;
  background: #fff;
  left: -30px;
  top: 0;
  position: absolute;
}
.chronologie ul li > span:before, .chronologie ul li > span:after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background: rgb(194, 191, 191);
  left: -3px;
}
.chronologie ul li span:after {
  top: 100%;
}
.chronologie ul li > div {
  margin-left: 10px;  
}
.chronologie div .title, .chronologie div .type {
  font-weight: 600;
  font-size: 12px;
}
.chronologie div .info {
  font-weight: 300;
}
.chronologie div > div {
  margin-top: 5px;
}
.chronologie span.date {
  height: 100%;
}
.chronologie span.date span {
  position: absolute;
  font-size: 10px;
  left: -35px;
  font-weight: bold;
}
.chronologie span.date span:first-child {
  top: 50%;
}

/* TEST */
.chronologie span.date2 span:first-child {
  top: 0;
}
.chronologie span.date2 span:last-child {
  top: 100%;
}
.chronologie span.date2 {
  height: 100%;
}
.chronologie span.date2 span {
  position: absolute;
  font-size: 10px;
  left: -35px;
  font-weight: bold;
}
.conteneur{
  display: flex;
  justify-content: flex-end;

}

.quartcercle{
  z-index: -1;
  width: 350px;
  border-radius: 600px 0 0 600px;
  height: 600px;
  background-color: #fff;
}
@media only screen and (max-width: 1500px)  {
  .quartcercle{
    display: none;
  }
}
@media only screen and (max-height: 800px)  {
 .chronologie ul {
   top:65%;
 }
}
